# API / Image Base URLs
BASE_URL=https://fooding-backend-e0yf.onrender.com
VITE_API_BASE_URL=https://fooding-backend-e0yf.onrender.com
VITE_IMAGE_BASE_URL=https://fooding-backend-e0yf.onrender.com
VITE_API_TIMEOUT=10000
